main {
    width: 90%;
    margin: 0px auto;
}

span {
    color: red;
    font-weight: bold;
}

p {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 20px;
}

.kepek{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px auto;
}

table {
    text-align: center;
}

#uj_jatek {
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lista {
    padding-bottom: 20px;
}

#lekapcsolt_lampak_szama {
    color: green;
    font-weight: bold;
}